@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-Light.ttf");
    font-weight: 100;
}
@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-Bold.ttf");
    font-weight: bold;
}
