header {
    background: $header-bg;
    padding: 10px;

    border-top: 2px solid #f66303;
    .logo {
	font-size: 22px;
	color: $text;
	float:left;
	img {
	    width: 32px;
	    float: left;
	    margin-right: 4px;
	}
    }

    .btn {
	margin-left: 4px;
    }
}


.subnav {
    background: $subnav-bg;
    height: 32px;

    svg {
	color: $text-dim;
	margin-right: 4px;
    }
}
