header, .subnav {
    @media print {
	display:none;
    }
}
.main {
    @media print {
        overflow: unset;
	overflow-y: visible;
    }
}
.main-wrapper {
    @media print {
	max-width: 100%;
    }
}
.character-sheet {
    @media print {
	width: 100%;
	margin:0;
	overflow: visible;
    }
}
    
