article {
    padding: 20px 40px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.04);
    margin-top: 20px;
    background: white;
    //background: #fffaf1;
    border-radius: 4px;
    img {
	width:100%;
    }
    .header-img {
	width: calc(100% + 80px);
	margin: -40px;
	margin-bottom: 0;
    }

    h1,h2 {
	text-align: center;
    }
}
.columns {
    column-count: 2;

    @media  (max-width: 640px) {
	column-count: 1;
    }

    column-gap: 40px;
    margin-top: 1em;

    > :first-child {margin-top: 0; }
}

.column-break {
    break-after: column;
}


