$text: #3d454b; //#250d00;// #2f190d; //#3d454b; //rgba(0,0,0,0.8);
$text-dim: rgba(0,0,0,0.44);
$text-link: #3d454b; //#58170e;//#008cba;
$border: #dddddd;//#ded6ce; // #dddddd; //#c4b5a4b5
$header-bg: white; //#fffdfa;
$scrollbar-thumb: rgba(110, 110, 110, 0.2);
$background-main: #faf4e9; // #f6e4cd; //#f9f9f9;
$background-header: white;
$background-footer: #333a42;
$btn-bg: white;
$panel-bg: #eeeeee;
$subnav-bg: #fafaf9;

@import "./_fonts.scss";
@import "./_reset.scss";
@import "./_global.scss";
@import "./_helpers.scss";
@import "./_elements.scss";
@import "./_header.scss";
@import "./_rules.scss";
@import "./_sheet.scss";
@import "./_prompts.scss";

@import "./fonts/_phb-fonts.css";
@import "./_adventures.scss";

.body {
    overflow: auto;
    background: $background-main;
}
.main {
    overflow: auto;
    overflow-y: overlay;
    height: calc(100% - 54px);
}

.main-wrapper {
    max-width: 700px;
    margin: auto;
}
footer {
    height: 40px;
    padding: 0 10px;
    background-color: #333a42;
    color: #babfc2;
}


@import "./_print.scss";
